<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${clientDTO.getName()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${clientDTO.getEmail()} + ' ' + ${clientDTO.getUserType()}"></p>
<p>Alterar informações do perfil</p>
<form action="#" th:action="@{'client/update/{cpf}'(cpf=${clientDTO.getCpf()})}" method="post" enctype="multipart/form-data">
    <input type="text" name="password" placeholder="Senha" th:value="${clientDTO.getPassword()}">
    <input type="text" name="rg" placeholder="RG" th:value="${clientDTO.getRg()}" disabled>
    <input type="text" name="name" placeholder="Nome" th:value="${clientDTO.getName()}">
    <button type="submit">Submit</button>
</form>
<form action="#" th:action="@{'client/delete/{cpf}'(cpf=${clientDTO.getCpf()})}" th:method="delete" >
    <input type="hidden" name="_method" value="delete" />
    <button type="submit" id="submitButton">Deletar Conta</button>
</form>
</body>
</html>