<!DOCTYPE HTML>
<html>
<head>
    <title>Atualizar perfil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Atualizar perfil</p>
<form action="/agentModel" method="put" enctype="multipart/form-data">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Senha">
    <input type="number" name="cnpj" placeholder="CNPJ">
    <input type="text" name="name" placeholder="Nome">
    <button type="submit">Submit</button>
</form>
</body>
</html>