<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${message}"></p>
<p>Login</p>
<form action="/login" method="get" enctype="application/x-www-form-urlencoded">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Senha">
    Agente<input type="radio" name="userType" value="agent">
    Cliente<input type="radio" name="userType" value="client">
    <button type="submit">Submit</button>
</form>
<p>Cadastro Usuário</p>
<form action="/signUp/client" method="post" enctype="multipart/form-data">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Senha">
    <input type="number" name="cpf" placeholder="CPF">
    <input type="text" name="rg" placeholder="RG">
    <input type="text" name="name" placeholder="Nome"><br>
    Endereço<br>
    <input type="number" name="cep" placeholder="CEP">
    <input type="text" name="country" placeholder="País">
    <input type="text" name="state" placeholder="Estado">
    <input type="text" name="city" placeholder="Cidade">
    <input type="text" name="district" placeholder="Bairro">
    <input type="text" name="street" placeholder="Rua">
    <input type="number" name="number" placeholder="Número">
    <button type="submit">Submit</button>
</form>
<p>Cadastro Agente</p>
<form action="/signUp/agent" method="post" enctype="multipart/form-data">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Senha">
    <input type="number" name="cnpj" placeholder="CNPJ">
    <input type="text" name="name" placeholder="Nome">
    Banco<input type="radio" name="userType" value="bank">
    Empresa<input type="radio" name="userType" value="company">
    <button type="submit">Submit</button>
</form>
</body>
</html>