<!DOCTYPE html>
<html
	lang="pt-BR"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"	
>
	<head>
		<title>Lista de veículos cadastrados no usuário</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	
	<body>
		<div>Lista de Veículos <a th:href="@{/veiculos}">Inserir Novo</a></div>
		<table border="1">
			<th>
				<td>Matrícula</td>
				<td>Marca</td>
				<td>Modelo</td>
				<td>Placa</td>
				<td>Ano</td>
			</th>
			<tr th:each="registro : ${registration}">
				<td>[[registration.registrationVehicle]]</td>
				<td>[[registration.brandVehicle]]</td>
				<td>[[registration.modelVehicle]]</td>
				<td>[[registration.licensePlateVehicle]]</td>
				<td>[[registration.ageVehicle]]</td>
				<td><a th:href="@{/veiculos/editar/{id}(id=${registration.registrationVehicle})}">Editar</a></td>
				<td><a th:href="@{/veiculos/excluir/{id}(id=${registration.registrationVehicle})}">Excluir</a></td>
				<td><a th:href="@{/veiculos/pedido/{id}(id=${registration.registrationVehicle})}">Fazer pedido</a></td>
			</tr>
		</table>
	</body>
</html>